@model IEnumerable<Hospital.Models.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultorio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Turno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nombre)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consultorio.Nombre)
                </td>
             <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
               
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Doctor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Doctor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Doctor">Delete</a> |
                <a asp-area="" asp-route-id="@item.ID_Doctor" asp-controller="Citas" asp-action="IndexDoctor">Ver Citas</a> | 
                <a asp-area="" asp-route-id="@item.ID_Doctor" asp-controller="Receta_Medica" asp-action="IndexDoctor">Ver Recetas</a>
            </td>
        </tr>
}
    </tbody>
</table>
