@model Hospital.Models.Cita

@{
    ViewData["Title"] = "Create";
}

@{
    string errorMensaje = ViewBag.ErrorMensaje as string;
    string diaerrorneo = ViewBag.ErrorDia as string;
    string muchodias = ViewBag.MuchosDias as string;
}
<h1>Create</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pagado" /> @Html.DisplayNameFor(model => model.Pagado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Día" class="control-label"></label>
                <input asp-for="Día" class="form-control" />
                <span asp-validation-for="Día" class="text-danger"></span>
            </div>
            @if (!string.IsNullOrEmpty(diaerrorneo))
            {
                <div class="alert alert-danger">
                    @diaerrorneo
                </div>
            }
            @if (!string.IsNullOrEmpty(muchodias))
            {
                <div class="alert alert-danger">
                    @muchodias
                </div>
            }
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control  />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            @if (!string.IsNullOrEmpty(errorMensaje))
            {
                <div class="alert alert-danger">
                    @errorMensaje
                </div>
            }
            <div class="form-group">
                <label asp-for="ID_Doctor" class="control-label"></label>
                <select asp-for="ID_Doctor" class ="form-control">
                    <option>Seleccionar</option>
                    @foreach(var doctor in ViewBag.Doctor)
                    {
                        <option value="@doctor.ID_Doctor">@doctor.Usuario.Nombre</option>
                    }
                </select>
            </div>
           
            <div class="form-group">
                <label asp-for="ID_Paciente" class="control-label"></label>
                <select asp-for="ID_Paciente" class ="form-control">
                    <option>Seleccionar</option>
                    @foreach(var paciente in ViewBag.Paciente)
                    {
                        <option value="@paciente.ID_Paciente">@paciente.Usuario.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
